@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);

#dropdown-menu-2btn-n .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-n .nav .link,
#dropdown-menu-2btn-n .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-n .navbar,
#dropdown-menu-2btn-n .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-n .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-n .dropdown-menu a:hover,
#dropdown-menu-2btn-n .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-n .navbar-toggler {
  color: #000000;
}
#header1-6 H1 {
  color: #cfeff6;
  font-size: 36px;
  font-family: 'Roboto Slab', serif;
}
#header1-6 P {
  font-size: 32px;
  color: #ffffff;
}
#msg-box4-8 .lead P {
  text-align: left;
}
#msg-box4-9 .lead P {
  text-align: left;
}
#testimonials1-j .card-block {
  text-align: center;
}
#testimonials1-j .card-block B {
  font-size: 22px;
}
#msg-box3-o .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-o .mbr-header .mbr-header__subtext {
  text-align: center;
}
#dropdown-menu-2btn-p .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-p .nav .link,
#dropdown-menu-2btn-p .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-p .navbar,
#dropdown-menu-2btn-p .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-p .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-p .dropdown-menu a:hover,
#dropdown-menu-2btn-p .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-p .navbar-toggler {
  color: #000000;
}
